.generic-heading {
  font-weight: normal;
  position: relative;
  padding-bottom: 35px;
  display: flex;
  align-items: center;
  flex-flow: column;
  font-size: 28px;

  &::after {
    position: absolute;
    bottom: 0;
    width: 70px;
    content: "";
    height: 1px;
    background-color: $blue-ribbon;
  }

  &--is-leader {
    align-items: flex-start;
    font-weight: 100;
    font-size: 25px;
    margin-top: -5px;
    letter-spacing: 0.6px;
    padding-bottom: 25px;
  }
}

.generic-button {
  background-color: $pomegranate;
  border: none;
  color: $white;
  height: 40px;
  padding: 0 23px;
  text-align: center;
  font-size: 13px;
}
