.contacts {
  padding: 148px 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    content: "";
    opacity: 0.6;
    left: 0;
    top: 0;
    z-index: -1;
  }

  &__hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }

  &__heading {
    color: $white;
    font-size: 38px;
    margin: 0;

    @media (max-width: 767px) {
      font-size: 30px;
    }
  }

  &__text {
    color: $white;
    font-size: 18px;
    margin: 3px 0 0;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__form {
    margin-top: 63px;
    margin-bottom: 35px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 26px;
    width: 100%;
    justify-content: center;
    max-width: 1148px;

    @media (max-width: 390px) {
      grid-template-columns: 1fr;
    }
  }

  &__form-item {
    @include box-shadow-focus(transparent, $white);

    max-width: 350px;
    width: 100%;
    border: 1px solid $white;
    background-color: transparent;
    height: 45px;
    box-sizing: border-box;
    padding: 0 10px;

    &::placeholder {
      color: $white;
    }
  }

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
