.creterion {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 80px;

  &__list {
    margin-top: 21px;
    margin-bottom: 64px;
    padding-left: 0;
  }

  &__item {
    list-style-type: none;
  }

  &__item-wrapper {
    background-color: #f5f5f5;
  }

  &__item-logo {
    width: 30px;
    height: 30px;
    margin-top: 16px;
    fill: $blue-ribbon;
  }

  &__item-heading {
    margin-top: 37px;
    font-size: 15px;
  }

  &__item-text {
    margin-top: 12px;
    padding: 0 10px;
    font-size: 15px;
  }
}
