$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1148px,
  xxl: 1148px,
);

@import "~bootstrap/scss/bootstrap.scss";

@import "/src/scss/constants";
@import "/src/scss/components";
@import "/src/scss/creterion";
@import "/src/scss/reviews";
@import "/src/scss/contacts";
@import "/src/scss/footer";
@import "/src/scss/leader";
@import "/src/scss/benefits";
@import "/src/scss/intro";
