.intro {
  display: flex;
  padding-top: 185px;

  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    max-width: 100%;
    z-index: -1;
  }
}

.intro-left {
  display: flex;
  flex-direction: column;
  background-color: $white;
  align-items: center;
  padding: 25px;
  width: 350px;

  &__heading {
    text-align: center;
    font-size: 21px;
    font-weight: 300;
    margin-top: 2px;
    letter-spacing: 0.4px;
  }

  &__text {
    text-align: center;
    font-weight: 200;
    font-size: 15px;
    margin-top: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
