.leader {
  display: flex;
  padding-top: 140px;
  padding-bottom: 115px;

  &__image {
    width: 635px;
    height: 100%;
    object-fit: cover;

    @media (max-width: 1023px) {
      width: 100%;
      height: auto;
      max-height: 50vh;
    }
  }

  @media (max-width: 1023px) {
    flex-flow: column;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}

.leader-texts {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  flex-grow: 1;

  &__features {
    padding: 0;
    margin-top: 28px;
    margin-bottom: 30px;
    list-style-type: none;
  }

  &__features-item {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__features-item-checkbox {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $blue-ribbon;
    position: relative;
    flex-shrink: 0;

    &-icon {
      color: $blue-ribbon;
      width: 10px;
      height: 10px;
    }
  }

  &__features-item-text {
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-left: 11px;
  }

  &__button {
    align-self: center;
    margin-top: auto;
  }

  @media (max-width: 1023px) {
    margin-top: 30px;
    margin-left: 0;
  }
}
