.reviews {
  padding: 80px 20px 100px;
  display: flex;
  flex-flow: column;
  align-items: center;

  &__list {
    margin-top: 78px;
    margin-bottom: 53px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 55px;
    width: 100%;
    justify-content: center;

    @media (max-width: 374px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    position: relative;

    &::after {
      position: absolute;
      left: -43px;
      top: -46px;
      color: #f5f5f5;
      content: "''";
      font-style: italic;
      font-size: 144px;
      transform: rotate(15deg);
      line-height: normal;
      z-index: -1;
      letter-spacing: -13px;
    }
  }

  &__item-text {
    font-style: italic;
    font-weight: lighter;
    font-size: 19px;
    line-height: 35px;
    margin-bottom: 0;
  }

  &__item-author {
    font-size: 17px;
    margin: 33px 0 0;
  }

  &__item-date {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}
